<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">
    <test name="test">
        <parameter name="number1" value="10"/>
        <parameter name="number2" value="5"/>
        <parameter name="number3" value="6"/>
        <parameter name="number4" value="5.5"/>

        <packages>
            <package name="hometask_20"/>
        </packages>
    </test>
</suite>